@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    line-height: 20px;
}

.swal2-container.swal2-top-end {
    top: 50px !important;
}

.navbar {
    background:#273656;
}

#main{
    min-height: calc(100vh - 40px);
    padding-top: 129px;
    padding-bottom: 85px;
}

#question-list {
    max-width: 624px; 
    max-height: 538px;
    width: 95%;
}

.card {
    max-height: 253px;
}


.btn-outline-light {
    color: #fff;
}

.btn-outline-danger {
    --bs-btn-focus-shadow-rgb: none;
    border: None;
}

.btn-outline-light:hover {
    color: #273656;
    background:#fff;
    --bs-btn-focus-shadow-rgb: none;
}

.form-control.is-valid, .was-validated .form-control:valid, .was-validated .form-control:valid:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 .15rem#273656e0;
    /* padding-right: calc(1.5em + 0.75rem); */
    background-image: None;
    /* background-repeat: no-repeat; */
    /* background-position: right calc(0.375em + 0.1875rem) center; */
    /* background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); */
}

.form-control:focus {
    box-shadow: 0 0 0 .15rem#273656e0;
}

.form-check-input:focus {
    box-shadow: 0 0 0 .15rem#273656e0;
}

.form-check-input:hover {
   cursor: pointer;
}


.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: #ced4da;
}

.was-validated .form-check-input:valid:checked {
    box-shadow: None;
    background-color: #59d149;
}

.btn-bg-273656 {
    /* Normal */
    --bs-btn-bg: #273656;
    --bs-btn-color: #fff;
    --bs-btn-border-color: none;
    /* Hover */
    --bs-btn-hover-bg: #192236;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: none;
    /* Active */
    --bs-btn-active-bg: #192236;
    --bs-btn-active-color: #fff;
}

.btn-bg-7b9ee988 {
    /* Normal */
    --bs-btn-color: #273656e0;
    --bs-btn-bg: #7b9ee988;
    --bs-btn-border-color: none;
    /* Hover */
    --bs-btn-hover-color: #273656c7;
    --bs-btn-hover-bg: #7b9ee963;
    --bs-btn-hover-border-color: none;
    /* Focus */
    --bs-btn-focus-shadow-rgb: none;
    /* Active */
    --bs-btn-active-color: #273656c7;
    --bs-btn-active-bg: #7b9ee963;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    /* Disabled */
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}

.btn-bg-7b9ee988:hover, .btn-bg-7b9ee988:active{
    background:#7b9ee963; 
    color:#273656c7;
}


.form-check-input:checked[type=radio] {
    background-color: #59d149;
    border-color: #59d149;
}

.custom-tooltip {
    --bs-tooltip-padding-x: .5em;
    --bs-tooltip-padding-y: 1em;
 }

.correct {
    color:#59d149;
}

.correct::before {
    font: var(--fa-font-solid);
    padding-left: .5rem;
    content: "\f00c";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.delete-question::before {
    font: var(--fa-font-solid);
    content: "\f1f8";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.edit-question::after {
    font: var(--fa-font-solid);
    content: "\f304";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#back::before {
    font: var(--fa-font-solid);
    content: "\f30a";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#quiz-title-text {
    max-width: 106px;
}


#edit-quiz-title::after {
    font: var(--fa-font-solid);
    content: "| \f304";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

hr {
    overflow: visible;
    font-size: .625rem;
    font-weight: 400;
    opacity: 0.95;
    border-top-color: var(--bs-border-color-translucent);
}

hr::after {
    background: #fff;
    padding: 0 4px;
    content: 'Pilihan jawaban';
    position: relative;
    bottom: 11px;
    color: #6d6d6d;
}


#create-question::before {
    font: var(--fa-font-solid);
    content: "\f055";
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fs-875 {
    font-size: .875rem;
}


